*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(119, 119, 145);
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: rgb(43, 159, 226);
    width: 50%;
    margin: 0 auto;
    margin-top: 18%;
    border-radius: 5px;
    padding-top: 20px;
    text-align: center;
}
input{
    margin: 5px 0px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius:12%;
}
h1{
    margin-bottom: 20px;
}
a{
    color: black;
    font-size: 12px;
    margin-top: 20px;
}
div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: black;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}